<div class="footer-contenet">
    <img class="footer-img" src="./../../../../assets/img/1_hero/PNG/sakura_ramen_logo_and_text.png">
    <div class="footer-link-area">
        <div class="link-icons">
            <img class="link-icon" src="./../../../../assets/img/1_hero/PNG/tripadvisor_logo.png">
            <img class="link-icon" src="./../../../../assets/img/1_hero/PNG/facebook_logo.png">
            <img class="link-icon" src="./../../../../assets/img/1_hero/PNG/instagrram_logo.png">
        </div>
        <div class="seperator"></div>
        <div>
            <a class="footer-link fontRaleway" href="imprint">IMPRESSUM</a>
        </div>
    </div>
</div>

