<h2 class="oder-h2 fontRaleway">HOW TO ORDER</h2>
<div class="order-step-area">
    <div class="order-box">
        <img class="order-img" src="./../../../assets/img/1_hero/PNG/noodle.png">
        <p class="noodle fontEco">Pick your <br>noodle</p>
    </div>
    <div class="order-box">
        <img class="order-img" src="./../../../assets/img/1_hero/PNG/broth.png">
        <p class="noodle fontEco">Pick your <br>broth</p>
    </div>
    <div class="order-box">
        <img class="order-img" src="./../../../assets/img/1_hero/PNG/egg.png">
        <p class="noodle fontEco">Add your <br>toppings</p>
    </div>
</div>
