<div class="menu-sheet">
   <h2 class="menuH2 fontRaleway">OUR MENU</h2>

    <div class="menu">
        <div class="ramen">
            <div class="ramen-cell fontRaleway">
                <img class="menu-img" src="./../../../assets/img/1_hero/PNG/R1.png">
                <table>
                    <tbody>
                        <th class="ramen fontEco">Tonkotsu</th>
                        <tr>
                            <td>CHICKEN</td>
                            <td>11,95€</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td>12,95€</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td>13,95€</td>
                        </tr>
                        <tr>
                            <td>TOFU</td>
                            <td>14,95€</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ramen-cell-2 fontRaleway">
                <table>
                    <tbody>
                        <th class="ramen fontEco">Spicy Miso</th>
                        <tr>
                            <td>CHICKEN</td>
                            <td>11,95€</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td>12,95€</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td>13,95€</td>
                        </tr>
                        <tr>
                            <td>TOFU</td>
                            <td>14,95€</td>
                        </tr>
                    </tbody>
                </table>
                <img class="menu-img" src="./../../../assets/img/1_hero/PNG/R2.png">
            </div>

            <div class="ramen-cell fontRaleway">
                <img class="menu-img" src="./../../../assets/img/1_hero/PNG/R3.png">
                <table>
                    <tbody>
                        <th class="ramen fontEco">Shio</th>
                        <tr>
                            <td>CHICKEN</td>
                            <td>11,95€</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td>12,95€</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td>13,95€</td>
                        </tr>
                        <tr>
                            <td>TOFU</td>
                            <td>14,95€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
